<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h1 class="text-5xl font-bold my-5">About Us</h1>
    <p class="text-zinc-300 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vero veritatis incidunt nemo quia error velit placeat, aliquam nulla molestiae dolorum voluptas vel delectus fuga doloribus iure nihil neque consequuntur?</p>
</section>